@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: none;
  }
}
.content {
  flex: 1 1 auto;
}

.name {
  background: rgba(235, 232, 43, 0.547);
  padding: 50px 0;
}
.name__top {
  text-align: center;
  margin: 0 0 35px 0;
}
.name__title {
  font-size: 35px;
  margin: 0 0 15px 0;
}
.name__subtitle {
  font-size: 24px;
}
.name__row {
  display: flex;
  justify-content: space-between;
}
.name__image {
  border: 5px solid #ffffff;
  border-radius: 5px;
}
.name__image img {
  border-radius: 5px;
}
.name__list {
  margin: 50px 0;
}
.name__list li {
  font-size: 22px;
  margin: 0 0 17px 0;
}
.name__list li:last-child {
  margin: 0;
}

.selection {
  font-weight: 700;
  font-style: 22px;
}
.selection::after {
  content: ":";
}

.info {
  font-size: 20px;
  padding: 50px 0;
  background: rgba(255, 204, 150, 0.7882352941);
}
.info__target {
  margin: 0 0 30px 0;
}
.info__selection {
  display: block;
  margin: 0 0 10px 0;
}
.info__education {
  line-height: 25px;
  margin: 0 0 30px 0;
}
.info__exp p {
  margin: 0 0 15px 0;
}
.info__list1 {
  margin: 0 0 30px 0;
}
.info__list1 li {
  margin: 0 0 12px 0;
  background: url("../images/icons/check_icon.png") left no-repeat;
  padding: 0 0 0 45px;
}
.info__list1 li:last-child {
  margin: 0;
}
.info__list1 li::after {
  content: ";";
}
.info__skills {
  margin: 0 0 30px 0;
}
.info__skills p {
  margin: 0 0 15px 0;
}
.info__skills p::after {
  content: ";";
}
.info__skills p:last-child:after {
  content: ".";
}
.info__qualities {
  margin: 0 0 30px 0;
}
.info__additional .info__selection {
  display: inline-block;
  margin: 0 0 20px 0;
}
.info__list2 li {
  margin: 0 0 15px 0;
  background: url("../images/icons/check_icon.png") left no-repeat;
  padding: 0 0 0 45px;
}
.info__list2 li:last-child {
  margin: 0;
}
.info__list2 li::after {
  content: ";";
}
.info__list2 li:last-child:after {
  content: ".";
}

.footer {
  background-color: #f5f5f5;
}
.footer__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  font-size: 12px;
  letter-spacing: 0.3px;
}